# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: amhernandez <alejhern@student.42.fr>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/01/08 01:11:46 by amhernandez       #+#    #+#              #
#    Updated: 2025/01/08 01:12:12 by amhernandez      ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.o
*.d
libft.a
